In [2]:
#!wget -qq https://cdn.iisc.talentsprint.com/CDS/MiniProjects/Bike_Sharing_Dataset.zip
#!unzip Bike_Sharing_Dataset.zip

Archive:  Bike_Sharing_Dataset.zip
  inflating: Readme.txt
  inflating: day.csv
  inflating: hour.csv

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [37]:
df_day=pd.read_csv("datasets/bike_sharing_data/day.csv")
df_day=df_day.drop(["instant","casual","registered"],axis=1)

In [38]:
#inplace True makes changes to df permanent.
df_day.rename(columns={"cnt":"total bikes"},inplace=True)
df_day.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'total bikes'],
      dtype='object')

In [39]:
df_hour=pd.read_csv("datasets/bike_sharing_data/hour.csv")

In [40]:
df_hour.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [43]:
df_hour[(df_hour["casual"]+df_hour["registered"])==df_hour["cnt"]].count

<bound method DataFrame.count of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]>

In [46]:
df_hour[df_hour["casual"]==0].count

<bound method DataFrame.count of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
4            5  2011-01-01       1   0     1   4        0        6
5            6  2011-01-01       1   0     1   5        0        6
29          30  2011-01-02       1   0     1   6        0        0
30          31  2011-01-02       1   0     1   7        0        0
31          32  2011-01-02       1   0     1   8        0        0
...        ...         ...     ...  ..   ...  ..      ...      ...
17338    17339  2012-12-30       1   1    12   7        0        0
17358    17359  2012-12-31       1   1    12   3        0        1
17359    17360  2012-12-31       1   1    12   4        0        1
17360    17361  2012-12-31       1   1    12   5        0        1
17361    17362  2012-12-31       1   1    12   6        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
4               0           1  0.24  0.2879  0.75     0.0000       0
5               0           2  0.24  0.2576  0.75     0.0896       0
29              0           3  0.42  0.4242  0.77     0.2985       0
30              0           2  0.40  0.4091  0.76     0.1940       0
31              0           3  0.40  0.4091  0.71     0.2239       0
...           ...         ...   ...     ...   ...        ...     ...
17338           0           1  0.24  0.2121  0.56     0.3582       0
17358           1           1  0.16  0.1818  0.59     0.1045       0
17359           1           1  0.14  0.1667  0.69     0.1045       0
17360           1           1  0.16  0.1515  0.64     0.1940       0
17361           1           1  0.16  0.1667  0.64     0.1642       0

       registered  cnt
4               1    1
5               1    1
29              2    2
30              1    1
31              8    8
...           ...  ...
17338          13   13
17358           1    1
17359           3    3
17360           9    9
17361          40   40

[1581 rows x 17 columns]>

In [57]:
(df_hour["yr"]==0).count()

17379